.banner{
  position: relative;
  margin-bottom: 10px;

}

.bannerImg {
  
}

.bannerBtn {
  color: var(--primary-color);
  background-color:#fff !important;
  width: calc(100% - 30px);
  position: absolute;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
}

.bannerBtn:hover{
  background-color: transparent !important;
  color: #fff !important;
}