.productDetailThumbGroup {
  height: auto;
}

.productDetailThumbActive{
  border: 5px solid var(--hover-color);
}
.productDetailMainThumb{
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.productDetailMainThumb img{
  width: 100%;
  height: 100%;
  display: block;
}

.productDetailSubThumb{
  margin-top: 15px;
  overflow-x: auto;
  flex-wrap: nowrap !important;
  padding-bottom: 4px;
}
.productDetailSubThumb::-webkit-scrollbar{
  
  width: 10px;
  height: 10px;
}

.productDetailSubThumb::-webkit-scrollbar-thumb{
  border-radius: 4px;
  /* background: #e1e3e4; */
  background: #677279;
  margin-right: 2px;
  box-shadow: inset 0 0 6px rgb(0 0 0 / 30%);
}

.productDetailSubThumb::-webkit-scrollbar-track{
  border-radius: 4px;
  background: #f5f5f5;
}
.productDetailSubThumbItem {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.productDetailSubThumbItem img{
  width: 100%;
  height: 100%;
  display: block;
  cursor: pointer;
}
.productDetailMain {
  margin-top: 100px;
}
.productDetailName {
  font-size: 26px;
  font-weight: 500;
  font-family: 'Playfair Display', sans-serif;
  margin-bottom: 15px;
}
.productDetailPrice {
  font-size: 16px;
  font-weight: 600;
  color:chocolate;
}
.productDetailPrice p{
  font-size: 20px;
  line-height: 20px;
  color: #333;
}
.productDetailSizeGroup {
  margin-top: 20px;
  margin-bottom: 20px;
}

.productDetailSize {
  border: 1px solid var(--primary-color) !important;
  color: var(--primary-color);
  font-size: 12px!important;
  font-weight: 500;
}
.productDetailSize:hover{
  color: white!important;
  background-color: var(--primary-color)!important;
}

.productDetailSize:disabled:hover{
  background-color: #f5f5f5!important;
  color: #666!important;
}
button:disabled {
  background-color: #f5f5f5!important;
  color: #666!important;
  cursor: default!important;
  border: none!important;
  opacity: 0.5;
}
.productDetailAction {
  display: flex;
  justify-content: center;
  align-items: center;
}
.productDetailQuantityGroup {
  border: 1px solid #f5f5f5;
  margin-right: 50px;
}
.productDetailQuantityBtn {
  border: 1px solid #f5f5f5 !important;
background-color: #f5f5f5 !important;
  width: 40px;
  height: 40px;
  font-size: 18px!important;
  font-weight: 500;
  color: var(--primary-color);
  padding: 0!important;
}
.productDetailQuantity {
  width: 40px;
  display:inline-block;
  color: var(--primary-color);
  font-size: 18px;
  font-weight: 500;
}

.productDetailCheckout button{
  height: 45px;
}
.productDetailDesc {
  margin-top: 20px; 
}
.productDetailDesc p{
  text-align: left;
  font-size: 14px;
  font-weight: 300;
  line-height: 21px;
  margin-left: 50px;
  margin-bottom: 10px;
}
.productDetailDesc p:nth-last-child(1){
  margin-bottom: 0px;
}
.noDisplay{
  display: none!important;
}
@media screen and (max-width: 1023px){
  .productDetailQuantityGroup{
    margin-right: auto;
  }
  .productDetailMainThumb{
    width: 100%;
    height: 100%;
  }
  .productDetailSubThumb{
    margin-top: 4px;
  }
  div.productDetailSubThumb::-webkit-scrollbar{
    width: 2px;
    height: 2px;
  }
  div.productDetailSubThumb::-webkit-scrollbar-thumb{
    border-radius: 0;
    background: #e1e3e4 ;
    margin-right: 2px;
    box-shadow: inset 0 0 6px rgb(0 0 0 / 30%);
  }
  
  div.productDetailSubThumb::-webkit-scrollbar-track{
    border-radius: 0;
    background: white;
  }
  .productDetailSubThumbItem{
    width: 100%;
    height: 100%;
  }
  .productDetailName{
    text-align: center;
  }
  .productDetailMain{
    margin-top: 20px;
  }
  .productDetailDesc p {
    margin-left: 4px;
  }
}

@media screen and (max-width: 739px) {
  .productDetailQuantityGroup{
    margin-right: 50px;
  }
}