header{
  margin-bottom: 15px;
}

.headerTopbar{
  height: 45px;
}

.headerTopbarContent{
  text-align: center;
  display: block;
  font-size: 11px;
  color: var(--primary-color);
  font-weight: 400;
  line-height: 45px;
  background-color: #f5f4f2;
}

.headerMain{
  height: 132px;
  background-color: #fff;
  border-bottom: 1px solid var(--line-color);
  text-align: center;
  align-items: center;
}
.headerLogo{
  font-size: 45px;
  font-weight: 500;
}
.headerAction{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  text-align: center;
}

.headerActionSearch{
  display: block;
  margin-right: 10px;
  height: 40px;
}

.headerActionCart{
  display: block;
  height: 40px;
  position: relative;
}

.cartAction{
  position: relative;
  cursor: pointer;
  display: block;
}

.cartAction:hover .cartCount{
  transform: translateY(150%);
}
.cartAction:hover .cartCountWrap::after{
  transform: translateY(0);
}
.cartAction > i {
  display: block;
  font-size: 28px;
  font-weight: 500;
  color: var(--primary-color);
}
.cartCountWrap {
  overflow: hidden;
  position: absolute;
  height: 50%;
  width: 60%;
  top: 9px;
  /* background-color: red; */
  left: 6px;
}

.cartCountWrap::after {
  content: attr(data-count);
  position: absolute;
  top: 3px; 
  left: 5px;
  font-size: 12px;
  font-weight: 500;
  transform: translateY(-150%);
  color: var(--primary-color);
  transition: transform 0.3s ease 0.1s;

}

.cartCount{
  position: absolute;
  top: 3px; 
  left: 5px;
  font-size: 12px;
  font-weight: 500;
  transform: translateY(0);
  transition: transform 0.3s ease;
  color: var(--primary-color);
}
.cartCheckbox {
  display: none;
}
.cartCheckbox:checked ~ .cartDropdown{
  visibility: visible;
  opacity: 1;
  transform: scale(1);
}
.cartDropdown{
  visibility: hidden;
  position: absolute;
  top: calc(100% + 15px);
  left: auto;
  right: -65px;
  width: 450px;
  padding: 20px 0px;
  z-index: 100;
  background-color: #fff;
  border: 1px solid #dfe3e8;
  box-shadow: 0 1px 5px 2px rgb(0 0 0 / 10%);
  opacity: 0;
  transform: scale(0.7);
  transform-origin: calc(100% - 100px) top;
  transition: opacity 0.2s linear, transform 0.2s linear;
  will-change: transition;
}

.cartDropdown::before{
  content: "";
  position: absolute;
  top: -20px;
  right: 68px;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #fff;
  -webkit-filter: drop-shadow(0px -0.9px 2px rgba(0,0,0,0.2));
  filter: drop-shadow(0px -0.9px 2px rgba(0,0,0,0.2));
}

.cartTitle {
  font-size: 16px;
  font-weight: 500;
  color: #000;
  background-color: #f3f5f6;
  border: 1px solid #e7ebec;
  border-radius: 4px;
  padding: 6px 10px;
  margin: 0 15px 15px;
  height: 35px;
  line-height: 1.2;
}

.cartContent {
  width: 100%;
  max-height: 320px;
  overflow-y: scroll;
  overscroll-behavior: none;
}

.cartContent::-webkit-scrollbar{
  width: 2px;
  height: 2px;
}

.cartContent::-webkit-scrollbar-thumb{
  border-radius: 0;
  background: #e1e3e4;
  margin-right: 2px;
  box-shadow: inset 0 0 6px rgb(0 0 0 / 30%);
}

.cartContent::-webkit-scrollbar-track{
  border-radius: 0;
}

.cartItem{
  border-bottom: 1px dotted #e1e3e4;
  margin: 0 10px;
}

.cartItem:nth-last-child(1){
  border-bottom: none;
}

.cartWrap{
  display: flex;
  align-items: flex-start;
  margin-top: 10px;
  padding: 0 10px 10px 10px;
}

.cartImg {
  width: 65px;
  flex-shrink: 0;
  margin-right: 10px;
}

.cartInfo {
  display: block;
  flex: 1;
  height: 100%;
}

.cartNameAndAction {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin-top: 5px;
}

.cartName {
  font-size: 12px;
  font-weight: 600;
  color: var(--primary-color);
  text-transform: uppercase;
  transition: opacity 150ms linear, color 150ms linear, background 150ms linear;
}
a:hover > .cartName{
  color: var(--hover-color);
}
.cartActionRemove {
  width: 20px;
  height: 20px;
  background-color: #E7EBEC;
  cursor: pointer;
}

.cartActionRemove > i{
  line-height: 20px;
}

.cartSizeAndPrice {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.cartSize {
  font-size: 12px;
  color: #677279;

}

.cartQuantityXPrice {
  font-size: 12px;
  color: #677279;

}

.cartQuantity{
  font-size: 13px; 
  font-weight: 600;
  margin-right: 3px;
}

.cartPrice{
  font-size: 13px; 
  font-weight: 600;
  margin-left: 3px;
}

.seperate {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
  border-top: 1px solid #e1e3e4;
}

.cartBottom {
  padding: 0 15px;
}

.cartTotal {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cartTotalTitle {
  font-size: 12px;
  font-weight: 300;
  color: #677279;
  text-align: left;
  text-transform: uppercase;
}

.cartTotalPrice {
  text-align: right;
  font-size: 16px;
  font-weight: 600;
  color: chocolate;
}

.cartGroupBtn {
  display: flex;
  margin-top: 15px;
  align-items: stretch;
  justify-content: space-between;
}
