.sidebar {
   background-color: #343a40;
   height:100%;
   color: white;
}

.adminGroup {
   border-bottom: 1px solid #4b545c;
   margin-bottom: 16px;
   padding-bottom: 16px;   
}

.title {
   font-size: 30px;
   font-weight: 300;
   line-height: 30px;
   padding: 13px 8px;
}

.actionAdmin {
   font-size: 18px;
   font-weight: 400;
   background-color: #666;
   border-radius: 4px;
   padding: 4px 4px;
}

.changePass {
   padding: 13px 8px;
   width: 100%;
   display: block;
   margin-bottom: 4px;
}

.logout {
   padding: 13px 8px;
   display: flex;
   justify-content: center;
   width: 100%;
   align-items: center;
   cursor: pointer;
}
.logout i{
   margin-right: 4px;
}

.hover:hover{
   background-color: #F7F5F2;
   color: #333;
   border-radius: 4px;

}

.nav {
   padding: 0 8px;
}

.navItem {
   font-size: 16px;
   font-weight: 400;
   line-height: 24px;
   margin-bottom: 18px;
}

.navLink {
   display: block;
   padding: 8px 24px;
}
.navLink p{
   display: flex;
   justify-content: flex-start;
   align-items: center;
}
.navLink p i{
   margin-right: 8px;
   font-size: 24px;
}
.active {
   border-radius: 4px;
   background-color: #007bff;
}
.active.hover{
   background-color: #F7F5F2;
   color: #333;
}
.mr12 .navLink p i{
   margin-right: 12px;
}